@charset "UTF-8";

/*****************globals*************/
body {
  font-family: 'open sans';
  overflow-x: hidden; }

img {
  /* max-width: 100%; */ }

.preview {
	width:50%;
	height:50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }
.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
	float: left;
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    height:50%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width:50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; 
  text-align: left;}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  /* text-transform: UPPERCASE; */
  font-weight: bold; }
.product-name{
	height: 50px; font-weight: 600; font-size: 12px;
}
.product-infor{
	display: flex; font-size: 15px;
}
.price-panel{
	width: 80%; height: 80px;
}
.fa fa-eye{
	display: inline-block; float: right; color: #888; line-height: 22px; display: flex; margin-top: 8%;
}
#view{
	display: inline-block; float: right; color: #888; line-height: 22px; display: flex; margin-top: 8%;
}
.number-of-view{
	margin-top: 0px; margin-left: 5%;
}
.out-of-product{
	position: absolute; bottom: 0px; width: 100%; font-size:10px; background: #f00; text-align: center; color: #fff; line-height: 20px;
}
.checked, .price span {
  color: #ff9f1a; }

/* .product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }
 */
.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }
.search-button {
	text-decoration:none;
  background: #189fff;
    background: rgb(45 90 162); 
  padding: 1.2em 1.5em;
  border: none;
  border-radius:8px;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
.add-to-cart, .like, .search-button {
	text-decoration:none;
  background: #189fff;
  padding: 0.8em 1.0em;
  
  border: none;
  border-radius:8px;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .search-button:hover {
  	cursor: pointer;
    background: #18cfff;
    color: #fff; }
  .add-to-cart:hover, .like:hover {
  	cursor: pointer;
    background: #18cfff;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*# sourceMappingURL=style.css.map */